<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="shortcut icon" href="https://edu.sites.moodlecentral.com.au/ap/schools/nsw/quakershil-h/pluginfile.php/1/theme_moove/favicon/1772497795/QHHS%20Logo.ico">

<header style="background-color: #ffffff; padding: 15px 0;">
    <div id="menu" class="container">
       <h1 style="font-weight: bold" href="/">Middle Room Education and Booking</h1>

        <nav>
            <ul style="list-style: none; padding: 0; display: flex; gap: 20px">
                <li><a class="active text-#19244c" href="/">Home</a></li>
                <li><a class="active text-#19244c" href="/training">Learn About the Middle Room</a></li>
                <li><a class="active text-#19244c" href="/test">Take Your Test</a></li>
                <li><a class="active text-#19244c" href="/booking">Book a Reservation</a></li>
                <li><a class="active text-#19244c" href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>